*
{
	margin: 0px;
	padding: 0px;
}
html
{
	height: 100%;
}
body
{
	height: 100%;
	background-color: #EEEEEE;
	position: relative;
}


/**************************************************/
/**************************************************/
/**********************HEADER**********************/
/**************************************************/
/**************************************************/


.head
{
	width: 100%;
	height: auto;
	background-color: #433f3e;
	-webkit-box-shadow: 0px 0px 5px 0px #2E2B2A;
	box-shadow: 0px 0px 5px 0px #2E2B2A;
	position: fixed;
	top: 0;
	z-index: 100;
}
.head-cont
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 50px;
	position: relative;
}
.menu-btn
{
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: auto;
	height: auto;
<<<<<<< HEAD
	//border: 1px solid #505050;
	border: 1px solid #6699ff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	//background-color: #433f3e;
	//-webkit-box-shadow: 0px 0px 5px 0px #505050;
	//box-shadow: 0px 0px 5px 0px #505050;
	background-color: #55aaff; //change
	-webkit-box-shadow: 0px 0px 5px 0px #3366ff;
	box-shadow: 0px 0px 5px 0px #3366ff;
=======
	border: 1px solid #2E2B2A;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #433f3e;
	-webkit-box-shadow: 0px 0px 5px 0px #2E2B2A;
	box-shadow: 0px 0px 5px 0px #2E2B2A;
>>>>>>> origin/master
	outline: none;
}
.menu-btn > span
{
	display: block;
	font-size: 32px;
	color: #EEEEEE;
}
.menu-btn:hover
{
	background-color: #363232;
}
.menu-btn:active
{
	background-color: #423D3D;
}
.logo-cont
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0px 0px 0px 25px;
	width: auto;
	height: 90%;
}
.logo-cont:hover
{
	text-decoration: none !important;
}
.logo-cont:link
{
	text-decoration: none !important;
}
.logo-cont:visited
{
	text-decoration: none !important;
}
.logo
{
	height: 100%;
}
.name
{
	margin: 0px 0px 0px 10px;
	color: #CCCCCC;
}
.avatar
{
	height: 100%;
	position: absolute;
	top: 0px;
	right: 5px;
}

/************************************************/
/************************************************/
/**********************MENU**********************/
/************************************************/
/************************************************/


.menu-cont
{	
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: -100;
}
.menu
{
	margin-top: 50px;
	width: 0px;
	height: 100%;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 5px 0px #524C4C;
	box-shadow: 0px 0px 5px 0px #524C4C;
	overflow-x: hidden;
}
.cont-menu
{
	width: 250px;
	height: 75%;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #CCCCCC;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.search-cont
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	position: relative;
}
.search, .search-btn
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	border: none;
	color: #FFFFFF;
	font-size: 16px;
	outline: none;
}
.search
{
	padding: 0px 40px 0px 10px;
	width: 100%;
	height: 100%;
	background-color: #302E2D;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.search-btn
{
	width: 40px;
	height: 100%;
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
}
.search:focus
{
	background-color: #1F1D1C;
}
.search::-ms-clear 
{
    display: none;
}
.menu-option
{
	display: block;
	padding: 10px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: none;
	background-color: transparent;
	text-align: left;
	color: #505050;
	outline: none;
}
.menu-option:link
{
	color: #505050 !important;
	text-decoration: none !important;
}
.menu-option:visited
{
	color: #505050 !important;
	text-decoration: none !important;
}
.menu-option:hover
{
	color: #999999 !important;
	text-decoration: none !important;
	background-color: #EEEEEE;
}
.menu-close
{
	margin-top: 50px;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width: 0px;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
}
.cont-user
{
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 250px;
	height: 20%;
}



/************************************************/
/************************************************/
/**********************DROP**********************/
/************************************************/
/************************************************/


.drop
{
	display: block;
	width: 100%;
	height: auto;
	text-align: left;
	color: #505050;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}
.drop:hover
{
	color: #999999 !important;
	text-decoration: none !important;
	background-color: #EEEEEE !important;
}
.drop-title
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	position: relative;
}
.drop-title span
{
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}
.drop-options
{
	display: none;
	width: 100%;
	height: auto;
}
.drop-option
{
	display: block;
	padding: 10px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	border: none;
	background-color: transparent;
	text-align: left;
	color: #505050;
	outline: none;
}
.drop-option:link
{
	color: #505050 !important;
	text-decoration: none !important;
}
.drop-option:visited
{
	color: #505050 !important;
	text-decoration: none !important;
}
.drop-option:hover
{
	color: #999999 !important;
	text-decoration: none !important;
	background-color: #DDDDDD;
}
.cont-menu > *
{
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #CCCCCC;
}

/***********************************************/
/***********************************************/
/**********************POP**********************/
/***********************************************/
/***********************************************/

.pop-cont
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: none;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
	z-index: 101;
}
.pop
{
	padding: 18px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 500px;
	height: 400px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 5px 0px #524C4C;
	box-shadow: 0px 0px 5px 0px #524C4C;
	position: relative;
}
.pop-close
{
	display: block;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.form-log-cont
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: none;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
	z-index: 101;
}
.form-log
{
	padding: 20px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 320px;
	height: auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 5px 0px #524C4C;
	box-shadow: 0px 0px 5px 0px #524C4C;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow-y: auto;
}
.form-log-close
{
	display: block;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.form-log-title
{
	margin-bottom: 10px;
	text-align: center;
}
.form-log-reg
{
	display: block;
	margin-top: 10px;
}
.form-reg-cont
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: none;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
	z-index: 101;
}
.form-reg
{
	padding: 10px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 320px;
	height: auto;
	max-height: 100%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 5px 0px #524C4C;
	box-shadow: 0px 0px 5px 0px #524C4C;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow-y: auto;
}
.form-reg-close
{
	display: block;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.form-reg-title
{
	margin-bottom: 10px;
	text-align: center;
}


/***************************************************/
/***************************************************/
/**********************CONTENT**********************/
/***************************************************/
/***************************************************/

.wrapper
{
	padding: 50px 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	min-height: 100%;
	background-image: url("../imagenes/patterns/pat08.png");
	background-attachment: fixed;
}
.content
{
	margin: 50px auto;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	height: auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 5px 0px #524C4C;
	box-shadow: 0px 0px 5px 0px #524C4C;
	-webkit-column-width: 250px;
	-moz-column-width: 250px;
	column-width: 250px;
	-webkit-column-gap: 15px;
	-moz-column-gap: 15px;
	column-gap: 15px;
}
.content:hover .video:not(:hover)
{
	opacity: 0.5;
}
.video
{
	margin: 10px 0px;
	display: inline-block;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
<<<<<<< HEAD
	//box-shadow: 0px 0px 5px 0px #AAAAAA;
=======
	box-shadow: 0px 0px 5px 0px #AAAAAA;
>>>>>>> origin/master
	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	-ms-column-break-inside:avoid;
	column-break-inside:avoid;
	cursor: pointer;
}
.video:hover
{
	-webkit-box-shadow: 0px 0px 10px 0px #AAAAAA;
	box-shadow: 0px 0px 10px 0px #AAAAAA;
}
.img-vid
{
	width: 100%;
	height: auto;
}
.title-vid
{
	display: block;
	width: 100%;
	height: auto;
	font-size: 24px;
	color: #555555;
}
.desc-vid
{
	display: block;
	width: 100%;
	height: auto;
	font-size: 16px;
	color: #555555;
}































/*@media screen and (max-width: 1199px) 
{
	.content
	{
		column-width: 250px;
	}
}
@media screen and (max-width: 991px) 
{
	.content
	{
		width: 33.33%;
	}
}
@media screen and (max-width: 659px) 
{
	.content
	{
		width: 50%;
	}
}
@media screen and (max-width: 499px) 
{
	.content
	{
		width: 100%;
	}
}*/




/*.content
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 50px auto;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	height: auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 5px 0px #524C4C;
	box-shadow: 0px 0px 5px 0px #524C4C;
}
.video
{
	display: inline-block;
	margin: 5px 0px;
	padding: 5px;
	box-sizing: border-box;
	width: 25%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px #AAAAAA;
}
.img-vid
{
	width: 100%;
	height: auto;
}*/
/*.video
{
	display: inline-block;
	margin: 10px 0px;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 20%;
	height: auto;
	background-color: red;
}
.cont-vid
{
	padding: 5px 5px;
	box-sizing: border-box;
	width: 100%;
	height: 250px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
	box-shadow: 0px 0px 5px 0px #AAAAAA;
	cursor: pointer;
}
.cont-vid:hover
{
	box-shadow: 0px 0px 10px 0px #AAAAAA;
}
.img-vid
{
	width: 100%;
}
@media screen and (max-width: 1199px) 
{
	.video
	{
		width: 25%;
	}
}
@media screen and (max-width: 991px) 
{
	.video
	{
		width: 33.33%;
	}
}
@media screen and (max-width: 659px) 
{
	.video
	{
		width: 50%;
	}
}
@media screen and (max-width: 499px) 
{
	.video
	{
		width: 100%;
	}
}*/